  * {
    box-sizing: border-box;
	}

	body {
  	margin: 0;
  	font-family: Arial;
    padding: 0;
  	background: #F0FFFF;
	} 

  .h2 {
    text-align: center;
    color: #000000;
    padding: 20px;
    font-size: 1.2em;
  }

  p, h3 {
    padding: 5px;

  }

  .h1 {
    text-align: center;
    text-transform: uppercase;
    color: #000000;
    padding: 20px;
  }

  .p {
    padding-bottom: 10px;
  }

  .p2 {
    text-align: center;
    padding-left: 450px;
    padding-right: 450px;
    font-size: 1.05em;
  }

	.header {
  	background-image: url("../img/binaria.jpg");
    background-repeat: no-repeat;
  	padding: 20px;
  	text-align: center;
    color: white;
    font-size: 2em;
	}

  .header2 {
    background-image: url("../img/js.png");
    background-repeat: no-repeat;
    background-position: center;
    background-color: #f2e21b;
    padding: 160px;
    text-align: center;
    color: white;
  }


  .topnav {
  overflow: hidden;
  background-color: #333;
}

.topnav a {
  float: left;
  display: block;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

.topnav a:hover {
  background-color: #ddd;
  color: black;
}

	.column {
  	float: left;
  	width: 100%;
  	padding: 10px;
	}

  .column2 {
    float: left;
    width: 50%;
    padding: 15px;
    text-align: center; 
  }

  .column3 {
    float: left;
    width: 100%;
    padding: 15px;
    text-align: center;
  }

  .column4 {
    float: left;
    width: 50%;
    padding: 15px;
    padding-right: 70px; 
    padding-left: 70px;
    text-align: center; 
  }

@media screen and (max-width: 600px) {
  .column {
    width: 100%;
  }
}

	.row:after {
  	content: "";
  	display: table;
  	clear: both;
	}


	div.static {
  	position: static;
  	border: 3px solid #DCDCDC;
  	background-color: #DCDCDC;
	}

	.conf {  
    margin: 0 auto;
    padding: 50px;
    font-size: 3.5em;
    text-align: center;
	}

  .conf2 {
    padding: 10px;
    font-size: 2em;
    text-align: center;
  }

  .flutu {
    float: left;
  }
  .flutu2 {
    float: right;
  }

	.ul {
  	list-style-type: circle;
  	margin: 0;
  	padding: 0;
  	overflow: hidden;
  	background-color: #333;
	}

	li a, .dropbtn {
  	display: inline-block;
  	color: white;
  	text-align: center;
  	padding: 14px 16px;
  	text-decoration: none;

	}

	li a:hover, .dropdown:hover .dropbtn {
  	background-color: #DCDCDC;
    color: #000000;
	}

	li.dropdown {
  	display: inline-block;
	}

	.dropdown-content {
  	display: none;
  	position: absolute;
  	background-color: #f9f9f9;
  	min-width: 160px;
  	box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  	z-index: 1;
	}

	.dropdown-content a {
  	color: black;
  	padding: 12px 10px;
  	text-decoration: none;
  	display: block;
  	text-align: left;
	}

	.insta a:hover {color: #FFFFFF; background-color: #DC143C; width: 100%;}

	.twitter  a:hover {color: #FFFFFF; background-color: #00BFFF; width: 100%;}

  .gmail a:hover {color: #FFFFFF; background-color: #33cc33; width: 100%;}


	.dropdown:hover .dropdown-content {
  	display: block;
	}

  
  .img { 
    float: right;
    max-width: 100%;
    height: auto;
  }

  .img2 {
    max-width: 100%;
    height: auto;

  }

  .borda {
    max-width: 100%;
    height: auto;
    border: 2px solid black;
  }

  div.sticky {
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  background-color: #F0FFFF;
  }

  .alinhamento {
    text-align: center;
  }

  footer {
    padding-top: 25px;
    padding-bottom: 25px;
    text-align: center;
    color: white;
    background-color: #333;
  }
    
   ol.lista {
  list-style-type: lower-alpha;
}

  .clock {
    text-align: center;
    background-color: white;
    font-size: 2em;
    border: 2px solid black;
    border-width: 100%;
  }

  .lista2 {
    text-align: center;
    padding-left: 450px;
    padding-right: 450px;
    font-size: 1.05em;
  }

  table, td, th {
    border: 2px solid black;
    text-align: center;
    padding: 5px;
    background-color: white;
  }

  table {
    width: 50%;
    border-collapse: collapse;
  }

  th {
  padding: 20px;
}
